{% load static %}
	<ul class="nav nav-pills fixed-bottom nav-justified w-100 bg-dark" id="pills-tab" role="tablist">
	  <li class="tab nav-item tabhome active bg-dark">
	    <a class="nav-link active p-1" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">
	    	<i class="fas fa-home"></i>
			<p class="m-0">Beranda</p>
	    </a>
	  </li>
	  <li class="tab nav-item tabpublikasi bg-dark">
	    <a class="nav-link p-1" id="pills-publikasi-tab" data-toggle="pill" href="#pills-publikasi" role="tab" aria-controls="pills-publikasi" aria-selected="false">
	    	<i class="fas fa-book"></i>
			<p class="m-0">Publikasi</p>
	    </a>
	  </li>
	  <li class="tab nav-item tabdata bg-dark">
	    <a class="nav-link p-1" id="pills-data-tab" data-toggle="pill" href="#pills-data" role="tab" aria-controls="pills-data" aria-selected="false">
	    	<i class="fas fa-box"></i>
			<p class="m-0">Data</p>
		</a>
	  </li>
	  <li class="tab nav-item bg-dark">
	    <a class="nav-link p-1" id="pills-brs-tab" data-toggle="pill" href="#pills-brs" role="tab" aria-controls="pills-brs" aria-selected="false">
	    	<i class="fas fa-file"></i>
			<p class="m-0">BRS</p>
		</a>
	  </li>
	  <li class="tab nav-item bg-dark">
	    <a class="nav-link p-1" id="pills-berita-tab" data-toggle="pill" href="#pills-berita" role="tab" aria-controls="pills-berita" aria-selected="false">
	    	<i class="fas fa-newspaper"></i>
			<p class="m-0">Berita</p></a>
	  </li>
	</ul>
